@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

$base: #151515;
$grey: #888;
$white: #fff;
$primary: #618faf;
$secondary: #f8f8f8;
$light-grey: #f8f8f8;
$hover-bg: #547c97;

$font-base: 18px;

$font-family-base: "Roboto", "Libre Franklin", Helvetica, Arial, sans-serif;
$font-family-heading-h1: "Manrope", sans-serif;
$font-family-heading: "Libre Franklin", sans-serif;
